body{
    background-image: url(Images/Screenshot\ 2023-10-07\ 9.54.40\ AM.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titan One' cursive;
}
#title{
    margin: auto;
    text-align: center;
    padding: 1em;
    height:5em;
    background-color: white;
    color:black;
    box-shadow: 0em 1em 0em 0em rgb(230,230,230);
}