body{
    background-image: url(Images/Screenshot\ 2023-10-07\ 9.54.40\ AM.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}